/* .custom-navbar {
  background-color: #147EFF;
  padding: 10px 20px;
}

.custom-navbar .form-control {
  width: 250px;
}

.custom-navbar .form-control::placeholder {
  color: #999;
}

.custom-navbar i {
  font-size: 1.2rem;
  color: white;
}

.custom-navbar .bi-person-circle {
  font-size: 1.5rem;
} */
/* .custom-navbar {
  background-color: #147EFF;
  padding: 10px 20px;
}

.custom-navbar .form-control {
  width: 300px;
}

.custom-navbar .form-control::placeholder {
  color: #999;
}

.custom-navbar i {
  font-size: 1.2rem;
  color: white;
}

.custom-navbar .bi-person-circle {
  font-size: 1.5rem;
}

.table td {
  vertical-align: middle;
}

// Optional: make stars monospaced to align properly 
td:nth-child(4) {
  font-family: monospace;
  font-size: 1.2rem;
} 
*/

.custom-navbar {
  background-color: #147EFF;
  padding: 10px 20px;
}

.custom-navbar .form-control {
  width: 300px;
}

.custom-navbar .form-control::placeholder {
  color: #999;
}

.custom-navbar i {
  font-size: 1.2rem;
  color: white;
}

.custom-navbar .bi-person-circle {
  font-size: 1.5rem;
}

.table td {
  vertical-align: middle;
}

td:nth-child(4) {
  font-family: monospace;
  font-size: 1.2rem;
}
